body {
    background-color: beige;
}

h1 {
    text-align: center;
}

.container {
    padding: 20px;
    margin-top: 20px;
    width: 60%
}

li button {
    float: right;
}


.modal-header{
    background-color: rgb(143, 142, 142);
}

.modal-body{
    background-color: lightsalmon;
}

.modal-footer{
    background-color: lightsalmon;